<div class='col-md-6 col-xs-10'>
<%= form_for @user, url: "/users/#{@user.id}",
    html: { class: 'form-horizontal', role: 'form' } do |f| %>
    <input name="_method" type="hidden" value="put" />
  <div class='form-group'>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'you@domain.com', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: 'username', class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :gender %>
    <%= f.select :gender, ['Male', 'Female'], {}, { class: 'form-control' } %>
  </div>
  <div class='form-group'>
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.submit class: 'btn btn-default btn-block' %>
  </div>
<% end %>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $("#edit_user_<%= @user.id %>").validate({
      rules:{
        "user[email]": {
          required: true,
          email: true
        },
        "user[birthday]": "required",
        "user[username]": {
          required: true,
          minlength: 3
        },
        errorClass: "help-inline"
      }
    })
  })
</script>
